{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">1%", "not dead"]
        }
      }
    ],
    ["@emotion/babel-preset-css-prop"],
    ["@babel/preset-react", { "runtime": "automatic", "importSource": "@emotion/react" }]
  ]
}
