.dropdown {
    position: relative;
    /* display: inline-block */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* display: flex; */
    flex-flow: column nowrap;
    background-color: #3f3f3fc4;
    /* min-width: 400px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1rem;
    padding-bottom: 0;
    margin-left: -1rem;
    white-space: nowrap;
  }

  .dropdown-item {
    margin-bottom: 1rem;
    color: red;
  }
  
  .dropdown:hover .dropdown-content { display: flex }