.dropdown {
  position: relative;
  display: inline-block;
  padding: 0.5rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  flex-flow: column nowrap;
  background-color: #3f3f3f;
  box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
  z-index: 1;
  margin-top: 0.5rem;

  white-space: nowrap;
}

.dropdown-item a {
  display: block;
}

@media (min-width: 900px) {
  .dropdown:hover .dropdown-content {
    display: flex;
  }

  .dropdown-item:hover {
    background-color: rgba(126, 126, 126, 0.363);
  }
}

@media (max-width: 900px) {
  .dropdown-content {
    display: none;
    /* display: flex; */
    position: relative;
  }

  .dropdown {
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}
