@import "./dropdown.css";

td,
th {
  border: none;
  padding: 0.5rem;
}

table {
  margin-bottom: 0.5rem;
}

nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
}

nav #logo {
  margin-right: 5rem;
  margin-bottom: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

nav #menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

nav a.navlink {
  position: relative;
}

nav a.navlink:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  display: inline-block;
  content: "";
  width: 100%;
  height: 0.2rem;
  margin-top: 0.2rem;
  background-color: transparent;
}

nav a.navlink:hover:after {
  background-color: white;
}

nav img {
  margin: 0;
}

#header-dialog {
  width: 35rem;
  background-color: white;
  position: relative;
  left: 10%;
  top: 5rem;
  padding: 1rem;
  font-weight: bold;
}

#news-container {
  margin: 0 -0.5rem;
  display: flex;
  flex-flow: row wrap;
}

.news-item {
  flex-grow: 1;
  background-color: whitesmoke;
  padding: 1rem;
  margin: 0 0.5rem;
}

#about-text {
  display: flex;
  justify-content: flex-end;
  background-image: url(../images/bridge.jpg);
  padding: 2rem;
}

.dialog-container {
  margin-bottom: 2rem;
}

.dialog-box {
  max-width: 50rem;
  min-width: 30rem;
  background-color: white;
  padding: 1rem;
  font-weight: bold;
}

.member-box {
  display: flex;
  align-items: stretch;
  flex-flow: row nowrap;
  background-color: whitesmoke;
  padding: 1rem;
  margin-bottom: 1rem;
}

.member-box h4,
.member-box p {
  margin-bottom: 0.7rem;
}

.course-box {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  background-color: whitesmoke;
  padding: 1rem;
  margin-bottom: 1rem;
}
.course-box h4,
.course-box p {
  margin-bottom: 0.7rem;
}

.member-logo-container {
  display: flex;
  align-items: center;
  background-color: white;
  margin-right: 1rem;
  padding: 0.5rem;
}

.member-logo {
  flex-shrink: 1;
  max-width: 10rem;
  margin: 0;
}

#education-menu {
  display: flex;
  color: white !important;
  text-decoration: none;
  margin: 0 -0.5rem;
}

#education-menu .menu-card-wrapper {
  flex-grow: 2;
  margin: 0.5rem;
}

#education-menu a {
  text-decoration: none;
  color: white;
}

.menu-card {
  padding: 1rem;
  height: 15rem;
  background-size: 100%;
}

#open-menu {
  display: none;
}

@media (max-width: 1200px) {
  nav #menu {
    display: none;
  }

  #open-menu {
    display: inline-block;
    padding: 1rem;
  }

  nav {
    justify-content: space-between;
  }
}
