/* 
For lighthouse define { font-display: swap; }

The font display timeline is based on a timer that begins the moment the user
agent attempts to use a given downloaded font face. The timeline is divided 
into the three periods below which dictate the rendering behavior of any 
elements using the font face. 

# swap
Gives the font face an extremely small block period and an infinite swap period.
*/

@font-face {
    font-family: "D-DIN";
    src: url("../fonts/D-DIN.ttf");
    font-display: swap;
}

@font-face {
    font-family: "D-DIN";
    src: url("../fonts/D-DIN-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "D-DIN";
    src: url("../fonts/D-DIN-Italic.ttf");
    font-style: italic;
    font-display: swap;
}